@model IEnumerable<WebApi.Models.ValuePairTest>

@{
    ViewData["Title"] = "Início";
}

<div class="row">
    <div class="col-md-12">
        <h2>Projeto MostQI</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a asp-action="Create" class="btn btn-primary btn-sm">Adicionar</a>
    </div>
</div>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Valor</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-light" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>
