@model WebApi.Models.FuncionarioView

@{
    ViewData["Title"] = "Editar Funcionário";
}

<h2>Editar Funcionário</h2>

<h4>Informe os dados do funcionário</h4>
<hr />
<div class="row">
    <form asp-action="EditarFuncionario" enctype="multipart/form-data" class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="CPF" class="control-label"></label>
                        <input asp-for="CPF" class="form-control" />
                        <span asp-validation-for="CPF" class="text-danger"></span>
                    </div>
                    <div class="col-md-8">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Tel" class="control-label"></label>
                        <input asp-for="Tel" class="form-control" />
                        <span asp-validation-for="Tel" class="text-danger"></span>
                    </div>
                    <div class="col-md-8">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="Endereco" class="control-label"></label>
                        <input asp-for="Endereco" class="form-control" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @if (Model.FileUrl != null)
                {
                    <div class="row">
                        <div class="col-md-12">

                            <img src="@Model.FileUrl" style="max-width: 85%;" />
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" type="file" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
        </div>
    </form>
</div>

